@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../assets/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-white: rgb(255, 255, 255);
    --color-lightgrey: rgb(230, 230, 230);
    --color-grey: rgb(110, 110, 110);
    --color-darkgrey: rgb(70, 70, 70);
    --color-orange: rgb(236, 184, 48);
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
}

@media (max-width: 1025px) {
    body {
        padding: 0;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 16px;
    }
}

ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow:  5px 0px 10px 0px rgb(0 0 0 / 23%);
    border-radius: 0 0.5rem 0 0;
}

@media (max-width: 1025px) {
    .container{
        box-shadow: none;
    }
}

.main-container {
    width: 100%;
    display: flex;
}

@media (max-width: 768px) {
    .main-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.main {
    flex-grow: 1;
    display: flex;
}

.nav {
    margin-bottom: 0.5rem;
}

.nav__list {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style: none;
}

.nav__link {
    display: block;
    margin: 0 10px;
    line-height: 25px;
    color: var(--color-darkgrey);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.nav__link::after {
    display: block;
    content: "";
    margin: 0;
    margin-top: 3px;
    height: 3px;
    width: 0px;
    background-color: var(--color-orange);
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--color-orange);
}

.nav__link:hover::after {
    width: 100%;
}

@media (max-width: 1025px) {
    .nav__list {
        font-size: 0.6rem;
    }
}

@media (max-width: 768px) {
    .nav__list {
        display: none;
    }

    .nav__list.open {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 220px;
        padding: 60px 20px 10px;
        margin: 0;
        background-color: var(--color-lightgrey);
        border: 2px solid #cccccc;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__link {
        color: var(--color-darkgrey);
        margin-bottom: 1rem;
    }
}

.left-col {
    width: 35%;
    padding: 10px 30px;
    background-color: var(--color-lightgrey);
    border-radius: 0.5rem 0 0 0;
}

@media (max-width: 1025px) {
    .left-col {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .left-col {
        width: 100%;
        font-size: 1rem;
    }
}

.right-col {
    position: relative;
    padding: 1rem 2rem;
    width: 65%;
    background-color: var(--color-white);
    border-radius: 0 0.5rem 0 0;
}

@media (max-width: 768px) {
    .right-col {
        width: 100%;
    }

    .left-col {
        background-color: var(--color-white);
    }

    .hamburger {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: auto;
        cursor: pointer;
        transition: 0.3s;
        z-index: 3;
    }

    .hamburger.open  {
        position: fixed;
        left: 20px;
        top: 10px;
    }

    .line {
        width: 80%;
        height: 2px;
        margin: 3px 0;
        background-color: var(--color-darkgrey);
        transition: 0.3s;
        z-index: 15;
    }

    .hamburger.open .line1 {
        transform: rotate(-45deg) translate(0px, 11px);
    }

    .hamburger.open .line2 {
        opacity: 0;
    }

    .hamburger.open .line3 {
        transform: rotate(45deg) translate(0px, -11px);
        background-color: var(--color-darkgrey);
    }
}

.section {
    margin-bottom: 30px;
}

.section_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar__img {
    width: 100%;
    max-width: 300px;
    margin: 1rem 0;
    border: 2px solid var(--color-white);
    border-radius: 50%;
}

.avatar__name {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: var(--color-darkgrey);
}

.avatar__title {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .section_avatar {
        text-align: center;
    }

    .avatar__img {
        max-width: 400px;
    }
}

.title {
    font-size: 30px;
    color: var(--color-darkgrey);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-orange);
}

.about-text {
    line-height: 2rem;
}

.list {
    list-style: none;
}

.list--inner{
    margin-left: 2rem;
}

.list__item {
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

.list__item--marked {
    list-style: " - ";
}

.list__icon {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    vertical-align: middle;
}

.list__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.section--name {
    padding: 2rem 0;
    color: var(--color-darkgrey);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.name {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.position {
    color: var(--color-orange);
}

.left-col .section--name {
    display: none;
}

@media (max-width: 768px) {
    .left-col .section--name {
        display: block;
        text-align: center;
    }

    .right-col .section--name {
        display: none;
    }
}

@media (max-width: 576px) {
    .list__item,
    .section {
        font-size: 0.8rem;
    }

    .section--name {
        padding: 2rem 1rem;
    }

    .name {
        font-size: 1.5rem;
    }
    
    .position {
        font-size: 0.8rem;
    }
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project {
    width: calc(100%/2 - 0.5rem);
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .project {
        width: 100%;
    }
}

.project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--color-grey);
}

.project__info {
    position: absolute;
    top: 100%;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-out;
}

.project:hover .project__info{
    position: absolute;
    top: 0;
}

.project__title {
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 1025px) {
    .project__title {
        font-size: 1.5rem;
    }
}

.project__links {
    display: flex;
    justify-content: space-around;
}

.project__link {
    padding: 0.5rem 1rem;
    color: var(--color-white);
    text-decoration: none;
    border: 1px solid var(--color-white);
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.project__link:hover {
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--color-grey);
    border-radius: 0 0 0.5rem 0.5rem;
}

.footer__contacts {
    display: flex;
    gap: 0.5rem;
}

.footer__link{
    text-decoration: none;
    color: var(--color-white);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    transition: .3s;
}

.footer__link:hover{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(101%) contrast(102%);
}

.footer__link--github {
    background-image: url("../assets/svg/icon-github.svg");
}

.footer__link--linkedin {
    background-image: url("../assets/svg/icon-linkedin.svg");
}

.footer__link--youtube {
    background-image: url("../assets/svg/icon-youtube.svg");
}

.footer__link--codewars {
    background-image: url("../assets/svg/icon-codewars.svg");
}

@media (max-width: 576px) {
    .footer__wrapper{
        flex-direction: column;
    }
}
